name: Deploy

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [16.x]
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}

      - run: npm install
      - run: npm run build

      - name: Copy build
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: nodedeploy
          # hello:)
          password: ${{ secrets.SERVER_USER_PASSWORD }}
          port: 22
          source: "./build/*"
          rm: true
          target: "/var/www/dsclub.space/build/"

      - name: Copy .env and restart server
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: nodedeploy
          password: ${{ secrets.SERVER_USER_PASSWORD }}
          port: 22
          script: |
            cd /var/www/dsclub.space
            cp .env ./build/.env
            cd ./build
            yarn
            cd ..
            pm2 start /var/www/dsclub.space/build/server.js


